.jumbotron {
	height: 100vh;
}

.mountain {
	background: url(../img/mountain.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.white {
	color: white;
}